.ui-form-item
    margin 20px 0

.ui-input-content
    border-bottom 1px solid #f1f1f1
    padding 8px

.ui-form-shadow .ui-input-content
    border 1px solid transparent
    border-radius 6px
    box-shadow 0 0 10px #eee

.ui-input-content-err
    background-color #fff4f5
    border-bottom 1px solid #fc3a59

.ui-form-shadow .ui-input-content-err
    background-color #fff4f5
    border-color #fc3a59

.ui-input-content
    display flex

.ui-label
    color #333
    font-size 14px
    line-height 28px

.ui-input-box
    flex 1
    position relative
    text-align right

.ui-input-box input
    background-color transparent
    border 0
    font-size 14px
    height 28px
    outline none
    text-align right
    vertical-align middle
    width 100%
    -webkit-tap-highlight-color transparent

.ui-input-err
    color #fc3a59
    font-size 12px

.ui-form-shadow .ui-input-err
    padding 5px 0

.ui-input-err-tip
    background-color rgba(0, 0, 0, 0.6)
    border-radius 3px
    color #fff
    font-size 12px
    padding 4px 8px
    position absolute
    right 0
    top -28px

.ui-input-err-tip::after
    border 5px solid transparent
    border-top 5px solid rgba(0, 0, 0, 0.6)
    bottom -10px
    content ''
    height 0
    left 50%
    margin-left -5px
    position absolute
    width 0