extends ../_tpl/_base.pug

block css
    +css(['components/city'])
block js
    +js(['address'])
    +js(['components/city'])

block cc
    
    .demo
        h1.demo-title 地址选择
        #exampleCity.demo-item
            .cyui-input-row
                .cyui-input-label 所在地区
                .cyui-input-input 省市区县、乡镇等
    .cyui-input-dialog
        .cyui-input-box
            h3.cyui-input-title 请选择所在地区
            .cyui-input-close ×
            .cyui-input-select
            .cyui-input-card
                .cyui-input-ul-box
                    ul.cyui-input-ul#cyui-input-province
                    ul.cyui-input-ul#cyui-input-city
                    ul.cyui-input-ul#cyui-input-area
                    ul.cyui-input-ul#cyui-input-street
    script.
        var v = new cyui.City({
            dom: '#exampleCity',
        })