extends ../_tpl/_base.pug

block css
    +css(['components/drawer'])
block js
    +js(['components/drawer'])

block cc
    
    .demo
        .demo-title 抽屉示例
        .demo-item
            p.txt 请点击右上角
