extends ../_tpl/_base.pug

block css
    +css(['components/drawer'])
block js
    +js(['components/drawer'])

block cc
    
    .demo
        .demo-title 抽屉示例
        .demo-item
            .drawer 点我，点我

    .ui-drawer
        //- .ui-drawer-close
        //- .ui-drawer-content
        p 我是内容区块哦
        

    script.
        var d = new cyui.Drawer({
            trigger: '.drawer', // 触发弹窗的按钮
            content: '.ui-drawer'
        })