extends ../_tpl/_base.pug

block css
    +css(['../css/base', '../css/components/dropDown'])
block js
    +js(['../js/components/dropDown'])
block cc
    .demo
        h1.demo-title 下拉列表
        div.demo-item#demoId
            div.drop-box
                
    script.
        var v = new cyui._DropDown({
            dom: '#demoId',
        })
        //- console.log(v);
        //- v.show();