extends _tpl/_base.pug


block css
    +css(['css/base', 'css/detail', 'css/components/drawer'])
block js
    +js(['js/components/drawer'])

block cc
    
    .wrapper
        include _tpl/_head.pug
        .flex
            iframe
        
        


    script.
        var type = location.search.replace(/\?type=/, '')
        var src = `components/${type}.html`
        document.querySelector('iframe').setAttribute('src', src)
        
        