@import '_/_common'
@import '_/_reset'

.demo
    padding 20px

    .demo-item
        border 0.5px solid rgb(3, 169, 243)
        border-radius 0 0 3px
        margin-bottom 20px
        padding 20px

    .demo-title
        background-color rgb(3, 169, 243)
        border-radius 3px 3px 0 0
        color #fff
        font-size 14px
        padding 10px

.wrapper
    bottom 0
    display flex
    flex-direction column
    left 0
    margin auto
    position fixed
    right 0
    top 0

.txt
    color #333
    font-size 15px