.index
    padding 20px

.name
    font-size 16px
    font-weight normal

.intro
    color #666
    font-size 14px

.list
    font-size 14px

    li
        border-radius 3px
        margin 20px 0

        a
            background-color rgb(3, 169, 243)
            border-radius 3px
            color #fff
            display inline-block
            padding 4px 12px