.header
    .menu


.ui-drawer
    ul.nav
        li
            a(href='/') home
        li
            a(href='/detail.html?type=form') form
        li
            a(href='/detail.html?type=drawer') drawer
        li
            a(href='/detail.html?type=drawer') city
        li
            a(href='/detail.html?type=drawer') picker

script.
    var d = new cyui.Drawer({
        trigger: '.menu', // 触发弹窗的按钮
        content: '.ui-drawer' // 弹窗内容
    })